html {
  background-image: url(../img/postit.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* change the background color */
.navbar-custom {
    background-color: #202020;
    height: 50px;
    }

.btn-custom{
  padding: 5px 100px;
}

.btn-group {
  display: flex;
}
